.main {
    overflow: hidden;
}

/* Header */
.header {
    height: 120px;
    width: 100%;
    background-color: var(--main-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    border-radius: 50%;
    margin-right: 4px;
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    --growth-from: 0;
    --growth-to: 1;
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 120%;
    right: 0;
    width: 160px;
    border-radius: 2px;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform-origin: calc(100% - 32px) top;
    animation: fadeIn ease-in 0.3s, growth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::after {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__navbar-user-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    right: 0;
    width: 82px;
    height: 20px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item:hover {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 2px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 16px;
    display: block;
}

.header__navber-item--notify:hover .header__notify,
.header__navbar-item--qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navber-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-list,
.header__navbar-item,
.header__navber-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navber-item-link:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--main-color);
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__nav-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar--title-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    margin: 0 11px;
}

.header__qr-download-img {
    height: 15px;
}

/* Header Notication */
.header__notify {
    --growth-from: 0;
    --growth-to: 1;
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform-origin: calc(100% - 32px) top;
    animation: fadeIn ease-in 0.3s, growth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::after {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::before {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -20px;
}

.header__notify-header {
    display: flex;
    color: #999;
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    border-radius: 2px;
}

.header__notify-header h3 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    margin-left: 12px;
    user-select: none;
    -webkit-user-select: none;
}

.header__notify-list {
    padding: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
}

.header__notify-description {
    margin-top: 6px;
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
}

.header__notify-footer {
    text-align: center;
    padding: 8px;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--main-color);
    cursor: pointer;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--main-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__control-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
    padding: 16px 32px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__social-icon {
    font-size: 1.6rem;
}

.auth-form__social--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__social--title {
    margin: 0 32px;
}

.auth-form__social--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-forgot {
    color: var(--main-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #eaeaea;
    margin: 0 16px;
}

/* Header with search */
.header__with-search{
    height: 74px;
    display: flex;
    align-items: center;
}

.header__mobile-search {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    margin-right: 36px;
}

.header__logo-img {
    height: 74px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    line-height: 100%;
    text-align: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    cursor: pointer;
}

.header__cart-icon:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    --growth-from: 0;
    --growth-to: 1;
    position: absolute;
    z-index: 1;
    top: calc(100% + 12px);
    right: 50px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: fadeIn ease-in 0.3s, growth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
}

.header__cart-heading {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin: 8px;
}

.header__cart-list-item {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: #f7f7f7;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 16px;
}

.header__cart-item-info {
    width: 100%;
    line-height: 2.2rem;
    margin: auto;
    padding-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    color: var(--black-color);
    font-size: 1.4rem;
    text-align: left;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 600;
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price-warp {
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-price {
    color: var(--main-color);
}

.header__cart-item-multipty {
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-remove {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: var(--main-color);
}

.header__cart-view {
    float: right;
    margin: 12px;
}

.header__cart-view:hover {
    opacity: 0.8;
}

.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart--cart-empty{
    padding: 28px 0;
}

.header__cart--cart-empty .header__cart--cart-empty-img,
.header__cart--cart-empty .header__cart--cart-empty-msg {
    display: block;
}

.header__cart--cart-empty-img {
    width: 50%;
    padding: 28px 0;
    display: none;
    margin: auto;
}

.header__cart--cart-empty-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-notice {
    top: -11px;
    right: 46px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.header__search-input-warp {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-btn {
    display: flex;
    background-color: var(--main-color);
    width: 60px;
    height: 34px;
    border: none;
    border-radius: 2px;
    outline: none;
    margin: 3px;
    cursor: pointer;
}

.header__search-btn:hover {
    opacity: 0.8;
}

.header__search-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: auto;
}

.header__search-history {
    position: absolute;
    z-index: 1;
    margin-top: 4px;
    top: 100%;
    left: 0;
    width: 75%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 20px rgb(0 0 0 / 0.3);
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 12px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    padding: 12px 12px;
}

.header__search-history-item:hover {
    background-color: #f7f7f7;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

/* Header Sort Bar */
.header__sort-bar {
    display: none;
    position: fixed;
    top: 74px;
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: 46px;
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    height: 60%;
    border-right: 1px solid #e3e3e3;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}


/* Container */
.container {
    background-color: #f5f5f5;
}

.container__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px 20px 0;
    margin: 0;
}

.category-list {
    padding: 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Mobile/tablet cateloyry */
.mobile-catelory {
    display: none;
}

.mobile-catelory__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    overflow-x: auto;
}

.mobile-catelory__list::-webkit-scrollbar {
    display: none;
}

.mobile-catelory__item {
    flex-shrink: 0;
    margin-left: 10px;
}

.mobile-catelory__item:nth-of-type(3n + 1) .mobile-catelory__link {
    background-color: #87afd8;
}

.mobile-catelory__item:nth-of-type(3n + 2) .mobile-catelory__link {
    background-color: #76cdbd;
}

.mobile-catelory__item:nth-of-type(3n + 3) .mobile-catelory__link {
    background-color: #88cf81;
}

.mobile-catelory__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2rem;
    width: 108px;
    height: 40px;
    border-radius: 4px;
    font-weight: 300;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
}

/* Home filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgb(0 0 0 / 0.04);
}

.home-filter__lable {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}

.select-input__lable {
    font-size: 1.4rem;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-btn {
    width: 36px;
    height: 36px;
    display: inline-flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.3rem;
    color: var(--text-color);
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    top: -1px;
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    /* flex-wrap: wrap; */
}

.home-product-item__price-old {
    margin-right: 6px;
    font-size: 1.4rem;
    color: #ccc;
    text-decoration: line-through;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__rating {
    font-size: 1.2rem;
    color: #d5d5d5;
}

.home-product-item__star-gold {
    color: var(--star-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    padding: 4px;
    text-align: center;
    background-color: rgba(255, 212, 36, 0.9);
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
}

.home-product__item-sale-off-percent {
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 500;
}

.home-product__item-sale-off-lable {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.home-product__pagination {
    padding: 0;
    margin: 58px 0 32px 0;
}

/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
    align-items: center;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-icon {
    height: 20px;
    margin: 4px 0;
}

.footer__bottom {
    margin-top: 36px;
    padding: 8px 0;
    background-color: #f5f5f5;
    text-align: center;
}

.footer__copyright {
    margin: 0;
    font-size: 1.2rem;
    color: #737373;
}